
@font-face {
    font-family: "Spoqa Han Sans Neo"; /* 폰트 이름 지정 */
    src: url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css) format("woff2"); /* WOFF2 형식 */
}

.full-view {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
  
.sub-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.sub-img {
    margin-top: 50px;
    margin-bottom: 30px;
}

.hr-box {
    width: 75%;
}

.main-view {
    width: 75%;
    height: 120vh;            
    margin: 0 auto;
}

.book-info {
    display: flex;
    background-color: rgb(238, 242, 243);
    border-radius: 10px;
    height: 550px;            
    justify-content: center;
}

.book-image-container {
    display: flex;
    width: 25%;
    align-items: center;
}

.book-image {
    box-shadow: 7px 7px 7px #898989;
    width: 220px;
}

.empty-box {
    width: 5%;
}

.book-summary-container {
    width: 40%;
    margin-top: 8%;
}

.book-summary-container hr {
    border: 0;
    height: 2px;
    background: #000;
}

.book-title {
    font-size: 150%;
}

.summary-tbl {
    width: 100%;
}

.summary-tbl th, .summary-tbl td {
    padding: 10px;
}

.sum-tbl-row td {
    border-style: dotted;
    border-bottom: 1px solid #dee2e6;
}

.book-info-btn {
    display: flex;
    margin-top: 20px;
    justify-content: right;
}

.tab-menu {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-menu a {
    color: black;
}

/* Script 부분 클래스 */

.tab_active {
    background-color: #ccc;
}

.tab_body {
    display: none;
}

.tab_body.active {
    display: block;
}

.tab_body h2 {
    font-size: 20px;
}

/* 리뷰 섹션 start */
.review-box {
    width: 100%;
    box-shadow: 0 8px 20px rgba(0,0,0,.1), 0 2px 8px rgba(0,0,0,.1);
    border-radius: 16px;
    padding: 24px 20px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.review-title {
    font-size: 18px;
    font-weight: 900;
}

.review-content {
    margin-top: 8px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 2.8em;
    -webkit-box-orient: vertical;
    line-height: 1.4em;
}

.review-writer {
    font-size: 16px;
}

.bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    vertical-align: middle;
}

.review-empty-box {
    height: 10px;
}

/* 코멘트 섹션 start */

.input-group {
    display: inline-block;
    border: 1px solid #d3d3d3;
    background-color: #f0f0f0;
    padding: 10px 20px 5px 20px;
}

.rating-section {
    display: flex;
    align-items: center;
    height: 50px;
}



.dropdown-rating {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.dropdown-rating select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 30px 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

  .dropdown-rating::before {
    content: '\25BC'; /* 아래 화살표 유니코드 코드 */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #444444; /* 화살표의 색상 */
    font-size: 14px; /* 화살표의 크기 */
    pointer-events: none; /* 화살표 영역은 클릭 이벤트에서 제외 */
}

.comment-section {
    display: flex;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.reg-comment {
    margin-left: 10px;
    width: 130px;
}

/* Script 부분 클래스 END */

.book-info-menu > a {
    font-size : 15px
}

