#img-container {
    width: 70%;
    height: 982px;
    float: left;
    overflow: hidden;
}
#img-container img {
    width: 100%;
    height: auto;
}
#join-container {
    width: 30%;
    float: right;
    padding: 40px;
}
h3 {
    font-size : 24px;
    font-weight : bold;
    margin-bottom: 28px;
}
#frmId{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#txtUserId {
    width: 80%;
}
#frmPostcode {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#sample6_postcode {
    width: 72%;
}
#btnJoin {
    width: 100%;
    height: 65px;
    margin-top: 40px;
}