
li {
    list-style: none;
}

a {
    text-decoration-line: none;
}

.bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    vertical-align: middle;
}

.btn-light { 
    font-family : "Open Sans";
    font-size: 8px;
}

.global-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.global-nav-btn {
    display: inline-flex;
}

.global-nav-link {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.global-nav-s {
    display: flex;
}

#btnLogin, #btnMyLibrary {
    margin-left: 20px;
}