#notice-container {
    width: 1200px;
    margin: 140px auto 0;
}
#mainSentence {
    text-align: center;
}
#notice-title {
    text-align: center;
    margin: 150px 0 30px;
}
#notice-title h1 {
    font-size: 32px;
}
#tbl {
    height: 353px;
    margin-top: 20px;
}
#tblBBS {
    width: 100%;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
}
#tblBBS th {
    background-color: #f3f3f3;
    color: #727272;
    height: 60px;
    padding: 10px 10px;
    width: 12%;
}
#tblBBS th#no {
    width: 8%;
}
#tblBBS th#title {
    width: auto;
}
#tblBBS td.title {
    text-align: left;
    padding-left: 10px;
}
#tblBBS th#views {
    width: 10%;
}
#tblBBS tr td {
    border-top: 1px solid #e6e6e6;
    padding: 14px 4px;
}
#tblBBS tr:hover td {
    background-color: #fcf9ce;
}
#tblBBS tr td a {
    color: #4d4d4d;
}
#tblBBS tr td a:hover {
    color: #1a96d9;
}
#btns {
    margin-top: 40px;
    text-align: center;
}
#btns button {
    border: none;
    background: none;
    padding: 0 10px;
}
#btnWrite {
    height: 38px;
    display: inline-block;
    padding: 0 19px;
    border: 1px solid #c9c9c9;
    color: #3b3b3b;
    font-size: 15px;
    font-weight: 600;
    line-height: 2.5em;
    vertical-align: top;
}