#tbl-container {
    width: 1200px;
    margin: 200px auto 0;
}
#tblDetail {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;  
}
#tblDetail th {
    width: 20%;
    padding: 10px 20px;
    border: none;
    background-color: #f3f3f3;
    border-top: 1px solid #e6e6e6;
    color: #727272;
    text-align: right;
    font-size: 14px;
}
#tblDetail tr:first-child th {
    border-top: none;
}
#tblDetail td {
    padding: 10px 20px;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
}
#tblDetail tr:first-child td {
    border-top: none;
}
#btns {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
#btns a {
    height: 38px;
    display: inline-block;
    margin: 0 5px;
    padding: 0 19px;
    border: 1px solid #c9c9c9;
    color: #3b3b3b;
    font-size: 15px;
    font-weight: 600;
    line-height: 2.5em;
    vertical-align: top;
}