#container {
    width: 1000px;
    margin: 0 auto;
}
#header2 {
    width: 100%;
    height: 100px;
    /* display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #e84545; */
}
#logo a {
    font-size:28px;
    font-weight: bold;
    line-height: 100px;
}
#spnMyPage {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
#utilMenu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#utilMenu li {
    margin-left: 10px;
}
#utilMenu li#logout {
    padding-right: 10px;
}
.bar {
    display: block;
    width: 1px;
    height: 10px;
    background-color: #666;
    margin-top: 9px;
}
#utilMenu li a {
    font-size: 12px;
    color: #666;
}
#leftArea {
    float: left;
    width: 180px;
    padding-top: 30px;
}
#lnbTitle {
    width: 180px;
    height: 53px;
    background-color: #e84545;
}
#lnbTitle a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 53px;
    margin-left: 14px;
}
#lnb {
    width: 180px;
    border: 1px solid #d2d2d2;
    border-top: none;
    padding: 18px 0 33px 0;
}
#lnb li {
    width: 151px;
    padding: 0 8px 10px 19px;
}
#lnb li a {
    line-height: 18px;
    color: #555555;
    font-size: 14px;
}
#lnb li a.on {
    font-weight: bold;
    color:#444;
}
#contentArea {
    width: 770px;
    float: right;
    margin-top: 30px;
}
#view {
    border-top: 2px solid #e84545;
    padding-top: 20px;
}
#rsContent {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
}
#rscComment {
    font-size: 13px;
    color: #666;
    padding: 14px 0;
}
#rscComment span {
    color: #1C70E4;
    font-weight: bold;
}
#rsCount {
    width: 770px;
    height: 44px;
    border: 1px solid #ccc;
    border-top: 2px solid #e84545;
    box-shadow: 2px 2px 2px #ccc;
}
#rsSpn {
    font-size: 12px;
    line-height: 44px;
    padding-left: 16px;
    color: #555;
}
#rsSpn strong {
    color: #038901;
}
#bookList {
    margin-top: 40px;
}
#bookWrap {
    padding-left: 0;
}
#bookWrap li {
    width: 100%;
    height: 180px;
    padding-top: 27px;
    margin-bottom: 38px;
    background: url(https://eb.nowonlib.kr/Kyobo_T3/Images/org/bg_box_list.gif) no-repeat 0 0;
}
#pic {
    margin-left: 36px;
    float: left;
    box-shadow: 3px 3px 3px #aaa;
    width: 100px;
    height: 140px;
}
#pic img {
    width: 100%;
    height: 100%;
}
#bookinfo {
    float: left;
    width: 420px;
    margin: 10px 0 0 26px;
}
#bookinfo span {
    display: block;
    width: 50%;
    font-size: 12px;
    overflow: hidden;        
    text-overflow: ellipsis;     
    white-space: nowrap;
    font-weight: bold;
    color: #4D6F8F;
}
#bookinfo #bTitle {
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
}
#bookinfo strong {
    display: inline-block;
    width: 68px;
    color: #555;
}
#btns {
    float: right;
    margin: 60px 30px 0 0;
}
#btns button {
    display: block;
    border: 1px solid #aaa;
    margin-bottom: 3px;
    width: 96px;
    height: 28px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #4d8f5c;
}
#btns #btnRsStatus {
    color: #4D6F8F;
}
#mainSentence {
    margin-top: 20px;
}