#frm-container {
    width: 1200px;
    margin: 160px auto 0;
}
#btns {
    text-align: center;
}
#btns button {
    height: 38px;
    display: inline-block;
    margin: 0 5px;
    padding: 0 19px;
    border: 1px solid #c9c9c9;
    color: #3b3b3b;
    font-size: 15px;
    font-weight: 600;
    line-height: 2.5em;
    vertical-align: top;
}